apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-app
  labels:
    app: blog-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-app
  template:
    metadata:
      labels:
        app: blog-app
    spec:
      automountServiceAccountToken: false
      containers:
      - name: blog-app
        image: boubdirayman/devops-blog-app:1.0.0
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
            ephemeral-storage: "128Mi"
          limits:
            memory: "128Mi"
            cpu: "200m"